* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inheri;
}

body {
  background-color: #fffdf8;
  font-family: Ubuntu;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__comands {
  display: block;
  color: #7e4363;
  font-size: 17px;
  font-style: italic;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.header__comands:hover {
  color: #8a298a;
  text-decoration: underline;
}

.header__logo {
  text-align: center;
  position: relative;
  z-index: 22;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
}

.header__logo img {
  max-width: 100%;
}

.header__ratings {
  color: #564d4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  margin-right: 65px;
}

.header__ratings span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  width: 31px;
  height: 31px;
  background-color: #003580;
  border-radius: 50%;
}

.header__language {
  text-align: right;
  color: #afaaa6;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  margin-top: 10px;
}

.header__language_active {
  color: #564d4d;
}

.header__language span {
  cursor: pointer;
}

.header__language span:first-child {
  padding-right: 5px;
  height: 22px;
  border-right: 1px solid #7e4363;
}

.header__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-body__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header-body__nav {
  padding-bottom: 15px;
}

.icons__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border: 2px solid #803a62;
  opacity: 0.3;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.icons__item:hover {
  border: 2px solid #d15296;
}

.icons__item_food {
  background-image: url("../img/food-icon.png");
  margin-right: 25px;
}

.icons__item_car {
  background-image: url("../img/car-icon.png");
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__list li {
  margin-right: 10px;
}

.socials__list li:last-child {
  margin-right: 0;
}

.socials__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: 2px solid #813b62;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.socials__icon:hover {
  border: 2px solid #d15296;
}

.socials__icon_viber {
  background-image: url("../img/viber-icon.png");
}

.socials__icon_watsup {
  background-image: url("../img/watshup-icon.png");
}

.socials__icon_telegram {
  background-image: url("../img/telegram-icon.png");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu {
  padding-left: 20px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list li {
  margin-right: 78px;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__link {
  color: #564d4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.nav__number {
  padding: 10px 58px;
  background: url("../img/ing.png") center no-repeat;
  color: #803a62;
  font-size: 16px;
  font-style: italic;
  position: relative;
}

.nav__number span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 8px 0;
}

.header__burger {
  width: 56px;
  height: 56px;
  border: 2px solid #803a62;
  border-radius: 50%;
  position: relative;
  z-index: 22;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.header__burger span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #803a62;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.header__burger span:first-child {
  top: 15px;
}

.header__burger span:last-child {
  bottom: 15px;
}

.header__burger.active span {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.header__burger.active span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25px;
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
}

.header__burger.active span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 24px;
}

.section-body {
  padding: 83px 0 110px 0;
}

.section-body__title {
  color: #666666;
  font-size: 80px;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 0 0 25px 0;
}

.section-body__text {
  text-align: center;
  color: #666666;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 55px 0;
}

.section-body__tabs {
  margin: 0 0 60px 0;
}

.section-body__subtitle {
  text-align: center;
  color: #564d4d;
  font-size: 48px;
  font-weight: 400;
  font-size: 50px;
}

.tabs {
  position: relative;
}

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 55px 0;
}

.tabs__click {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 248px;
  height: 45px;
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  font-style: italic;
  letter-spacing: 0.54px;
  margin-right: 44px;
  border: 2px solid #663366;
  cursor: pointer;
}

.tabs__click:last-child {
  margin-right: 0;
}

.tabs__click.active {
  background-color: #663366;
  color: #ffffff;
}

.tabs__title {
  color: #666666;
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 30px 0;
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: block;
}

.tabs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.tabs__column {
  margin: 5px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 32.3333%;
          flex: 1 1 32.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__items {
  border: 2px solid #663366;
  padding: 40px 47px;
  min-height: 328px;
  margin: 0 0 5px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.service__name {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  margin: 0 0 25px 0;
}

.service__subname {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 10px 0;
}

.service__programs {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.service__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 102px;
  border: 2px solid #663366;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  font-style: normal;
  letter-spacing: 0.72px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0 40px;
}

.service__space {
  height: 98.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background-color: #f9f7f0;
}

.footer__body {
  padding: 63px 20px 125px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__link {
  color: #564d4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 35px;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 325 px;
          flex: 0 1 325 px;
  margin-right: 65px;
}

.footer__mail {
  color: #7c3960;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 18px 0;
}

.footer__mail span {
  color: #564d4d;
  font-weight: 400;
}

.footer__parteners {
  color: #564d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding-right: 190px;
  background: url("../img/parteners.png") right top no-repeat;
  display: inline-block;
}

.footer__adress {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
}

.footer__number {
  color: #7c3960;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  line-height: 30px;
  margin-top: 25px;
  display: block;
}

.footer__adres {
  color: #564d4d;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.footer__copywriter {
  color: #564d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding: 18px 0;
  background-color: #f0ede6;
}

.socials__list_margin {
  margin: 0 0 37px 0;
}

.socials__icon_b {
  background-image: url("../img/icon-b.png");
}

.socials__icon_fb {
  background-image: url("../img/icon-fb.png");
}

.socials__icon_inst {
  background-image: url("../img/icon-inst.png");
}

.socials__icon_g {
  background-image: url("../img/icon-g.png");
}

@media (min-width: 860px) {
  .nav__link:hover {
    color: #8a298a;
    text-decoration: underline;
  }

  .tabs__click:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .service__link:hover {
    background-color: #663366;
    color: #ffffff;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }

  .footer__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1920px) {
  .nav__list
li {
    margin-right: calc(0px + (78 - 0) * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (max-width: 1400px) {
  .nav__menu {
    padding-left: 0;
  }
}

@media (max-width: 1000px) {
  .header__icons {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .header__logo {
    padding: 0 20px;
  }

  .header__ratings {
    display: none;
  }

  .header-body__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav__number {
    background: none;
    padding: 0 0 0 10px;
  }
}

@media (max-width: 860px) {
  .icons__item_food {
    margin: 0 20px 0 20px;
  }

  .nav__list {
    position: fixed;
    z-index: 20;
    display: block;
    overflow: auto;
    padding: 150px 20px 0 20px;
    width: 100%;
    height: 100%;
    background: #a09f9fe3;
    top: 0;
    left: 0;
    display: none;
  }

  .nav__list.active {
    display: block;
  }

  .nav__list li {
    margin-bottom: 50px;
  }

  .nav__list .nav__link {
    font-size: 30px;
  }

  .header__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (max-width: 850px) {
  .section-body {
    padding: 10px 20px 10px 20px;
  }

  .section-body .section-body__title {
    font-size: 40px;
    line-height: 50px;
  }

  .footer__contacts {
    margin-right: 20px;
  }
}

@media (max-width: 730px) {
  .footer__body {
    padding: 10px 20px 10px 20px;
    display: block;
  }

  .footer__body .footer__links {
    margin: 0 0 20px 0;
  }

  .footer__body .footer__contacts {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 620px) {
  .icons__item_food {
    display: none;
  }

  .icons__item_car {
    display: none;
  }

  .socials__list {
    display: none;
  }
}

@media (max-width: 600px) {
  .section-body__subtitle {
    font-size: 30px;
  }
}

@media (max-width: 590px) {
  .header__comands_none {
    display: none;
  }
}